PyQt5
qdarkstyle
numpy==1.18.5
pandas==1.0.5
sip
datetime
scikit-learn==0.23.1
scipy==1.5.0
lightgbm==2.3.1
xgboost==1.0.2
matplotlib==3.1.1
seaborn
joblib
multiprocessing
torch==1.3.1
